body{
	background-color: gray;
	
}


p {
	text-align: justify;
}

figure{
	border: 1px solid black; 
	width: 500px;
	padding: 30px;
	margin: 50px; 
}

img{
	width: inherit;
}

figcaption{
	font-style: italic;
	text-align: center;
}