table{
	border: 5px solid #99ffcc ;
	width: 100%;
	border-collapse: collapse;

}

td, th {
	border: 5px solid #99ffcc;
	text-align: center;
	padding: 10px;
}

th {
	background-color: #333;
	color: #aaa;
	
}

th:last-child{
	border-right-color: #99ffcc;
}

tr.even{
	background-color: #00ff00;
	color: #000;
}

tbody> tr:nth-child(4) > td{
	border-top: 5px solid #333;
}

td:first-child{
	text-align: left;

}

td:nth-child(2){
	font-style: italic;
}

a:link{
	color: #060;
}

tr:hover{
	background-color: #4286f4;
	color:#ccdfff;
}

#my-td{
	border: 2px solid #333;
	margin: 28px 0 28px 0;
	height: 40px;
	padding: 28px;
	font-size: 28px;

}

.my-td-span{
	background-color: red;
	color: inherit;
	font-weight: bold;
	padding: 19px;

}

.highlighted{
	background-color: red;
	color: white;
	font-weight: bold;
}
